/*
@Filename:               index.css
@Version:                1.0.0
@date                    2014-01-06
@author:                lijt
@email                  252407193@qq.com
--------------------------------------------------------------------------------------------*/
 .header{
	z-index: 120;
}
.nav{
	height:110px;
	margin-top:20px; 
	z-index: 100;
	position: relative;
} 
.index-img{
	/*width: 100%;
	height:100%;*/
	position: absolute;
	top:0;
	left:0;
}
.index-img img{
	width:34%;
	height:100%;
}
.crumb{
	background:rgba(79,79,79,0.5);
}
.main-nav>li>a{
	line-height: 55px;
	z-index: 200;
}
 .nav-holder{
	position: relative;
} 
.main-nav li:hover{
    background-color: #000;
} 
.crumb div>span{
	height: 55px;
	display: inline-block;
	float: left;
	width:102px;
	text-align: right;
	line-height: 55px;
}
.crumb div p{
	height: 55px;
	display: inline-block;
	line-height: 55px;
}
.crumb ul{	
	font-size:16px;
}
.crumb ul li{
	float:left;
	width:128px;
}
.crumb ul li a{
	color:#ffffff;
	display: block;
	width:100%;
	height:100%;
	text-align: center;
	line-height: 55px;
	text-decoration: none;
}
.sub-a-bg{
	background:url("../../../img/servant/header-border.png") no-repeat 0px 21px ;
}
.sub-li-bg{
	background:url("../../../img/servant/header-border.png") no-repeat 100% 21px ;
}
.libg{
	position: absolute;
	z-index:150;
}
.footer{
	padding-top:660px; 
}
.main-nav  li.clickbg{
	background-color: red;
}